{% load static %}
<!DOCTYPE html>
<html>
    <head>
          
        <link rel="stylesheet" href="{% static 'mobile/style.css' %}" type="text/css">
        <title>HOME</title>
        <img height="100px" width="100px" src="{% static 'mobile/logo.png' %}" alt="icon">
        <h1 style="font-family:Arial, Helvetica, sans-serif ; display: inline; ">&nbsp&nbspMobile Arrow</h1>
    </head>
    <body style="
    background-image: url('{% static "mobile/background.jpg" %}'); 
    background-position-x: 'center';
    background-position-y: 'center';
    background-repeat: 'no-repeat';
    background-attachment: 'fixed';">
        <section>
            <nav class="navigation">
                    <br>
                    <a href="/index/">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/viewall/">VIEW ALL MOBILES</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/compare/">COMPARE</a>     
            </nav>
            <div>
                {% block content %}{% endblock %}
                
            </div>
        </section>
    </body>
    <!--End of code-->
</html>