{% extends "mobile/base.html" %}
{% block content %}
<style>
    #sidebar{
        color:rgb(241, 227, 100);
        width: 25%;
        position: relative;
        float: right;
        
    }
    a{
        color:whitesmoke;
        text-decoration: none;
        margin-left: 8px;
    }
</style>
<div>
    <img src="data:image/png;base64, {{graph|safe}}">
</div>
<aside id="sidebar" >

    <p style="font-size: large;">Highest Sold:</p><br>
    {% for m in topSelling %}
    <a href="{% url 'mobile-detail' m.id%}">{{m.brand}} {{m.model}} {{m.base_color}}( {{m.RAM}}GB RAM | {{m.ROM}}GB ROM )</a><br>
    {% endfor %}

    <p style="font-size: large;">Best in RAM:</p><br>
    {% for m in topRAM %}
    <a href="{% url 'mobile-detail' m.id%}">{{m.brand}} {{m.model}} {{m.base_color}}( {{m.RAM}}GB RAM | {{m.ROM}}GB ROM )</a><br>
    {% endfor %}

    <p style="font-size: large;">MAX DISCOUNT:</p><br>
    {% for m in topDiscount %}
    <a href="{% url 'mobile-detail' m.id%}">{{m.brand}} {{m.model}} {{m.base_color}}( {{m.RAM}}GB RAM | {{m.ROM}}GB ROM )</a><br>
    {% endfor %}

    <p style="font-size: large;">Top rated:</p><br>
    {% for m in topRated %}
    <a href="{% url 'mobile-detail' m.id%}">{{m.brand}} {{m.model}} {{m.base_color}}( {{m.RAM}}GB RAM | {{m.ROM}}GB ROM )</a><br>
    {% endfor %}
</aside>

    <a href="/viewall/">Show all mobile data</a>
    
<footer>
    <!--p style="color: grey;">credits: W3schools</p-->
    <div 
</footer>
{% endblock content %}
                
